---

- name: Deploy arr stack
  ansible.builtin.include_tasks:
    file: arr_stack.yml
  tags:
    - arr

# - name: Deploy Dumbterm
#   ansible.builtin.include_tasks:
#     file: dumbterm.yml
#   tags:
#     - dumbterm

- name: Deploy Minecraft
  ansible.builtin.include_tasks:
    file: minecraft.yml
  tags:
    - minecraft

- name: Deploy Komodo
  ansible.builtin.include_tasks:
    file: komodo.yml
  tags:
    - komodo

- name: Deploy n8n
  ansible.builtin.include_tasks:
    file: n8n.yml
  tags:
    - n8n

# - name: Deploy Orcaslicer
#   ansible.builtin.include_tasks:
#     file: orca.yml
#   tags:
#     - orca
