{
  "cloudflare": [
    {
      "authentication": {
        "api_token": "{{ lookup("community.general.onepassword", "Cloudflare DDNS", field="Token", vault="HomeLab") }}"
      },
      "zone_id": "{{ lookup("community.general.onepassword", "Cloudflare DDNS", field="Zone", vault="HomeLab") }}",
      "subdomains": [
        {
          "name": "home",
          "proxied": false
        },
        {
          "name": "ntfy",
          "proxied": false
        },
        {
          "name": "git",
          "proxied": false
        },
        {
          "name": "mc",
          "proxied": false
      ]
    }
  ],
  "a": true,
  "aaaa": false,
  "purgeUnknownRecords": false,
  "ttl": 300
}