services:
  op-connect-api:
    image: 1password/connect-api:latest
    restart: unless-stopped
    volumes:
      - '{{ docker_container_data_folder }}/onepassword/data:/home/opuser/.op/data'
      - './token.json:/home/opuser/.op/1password-credentials.json'
    ports:
      - 8085:8080

  op-connect-sync:
    image: 1password/connect-sync:latest
    restart: unless-stopped
    volumes:
      - '{{ docker_container_data_folder }}/onepassword/data:/home/opuser/.op/data'
      - './token.json:/home/opuser/.op/1password-credentials.json'