services:
  op-connect-api:
    image: 1password/connect-api:latest
    restart: unless-stopped
    volumes:
      - '{{ docker_container_data_folder }}/onepassword/data:/home/opconnect'
    environment:
      - OP_BUS_PORT=11223
      - OP_HTTP_PORT=8080

  op-connect-sync:
    image: 1password/connect-sync:latest
    restart: unless-stopped
    volumes:
      - '{{ docker_container_data_folder }}/onepassword/data:/home/opconnect'
    environment:
      - OP_BUS_PORT=11223