discovery.docker "linux" {
    host = "unix:///var/run/docker.sock"
}

discovery.relabel "logs_integrations_docker" {
    targets = []

    rule {
        source_labels = ["__meta_docker_container_name"]
        regex = "/(.*)"
        target_label = "service_name"
    }
}

loki.source.docker "default" {
    host       = "unix:///var/run/docker.sock"
    targets    = discovery.docker.linux.targets
    labels     = {"platform" = "docker", "docker_host" = "{{ inventory_hostname }}" }
    relabel_rules = discovery.relabel.logs_integrations_docker.rules
    forward_to = [loki.write.grafana_loki.receiver]
}

loki.write "grafana_loki" {
    endpoint {
        url = "{{ loki_push_url }}"
    }
}