---

- name: Customize Forgejo
  become: true
  block:
    - name: Stop service
      ansible.builtin.service:
        name: forgejo
        enabled: true
        state: stopped

    - name: Create forgejo config file
      ansible.builtin.template:
        src: app.ini.j2
        dest: '{{ forgejo_config_path }}/app.ini'
        mode: "0644"
        variable_end_string: '$$'
        variable_start_string: '$$'

    - name: Start service
      ansible.builtin.systemd_service:
        name: forgejo
        enabled: true
        state: started
        daemon_reload: true
