---

datasources:
  postgres:
    url: jdbc:postgresql://postgres:5432/kestra
    driverClassName: org.postgresql.Driver
    username: kestra
    password: {{ lookup("community.general.onepassword", "Kestra", field="Postgres password", vault="HomeLab") }}
kestra:
  server:
    basicAuth:
      enabled: false
      username: "kestra@berger-em.de" # it must be a valid email address
      password: kestra
  repository:
    type: postgres
  storage:
    type: local
    local:
      basePath: "/app/storage"
  queue:
    type: postgres
  tasks:
    tmpDir:
      path: /tmp/kestra-wd/tmp
  url: http://localhost:8080/