---

services:
  mc_vanillatweaks:
    restart: "no"
    image: itzg/minecraft-server
    ports:
      - "25567:25565/tcp"
    environment:
      EULA: "TRUE"
      VERSION: ${MINECRAFT_VERSION:-LATEST}
      DIFFICULTY: "easy"
      MAX_PLAYERS: 3
      FORCE_GAMEMODE: "true"
      SNOOPER_ENABLED: "false"
      VANILLATWEAKS_SHARECODE: NDnSHX,t8Mwi
      REMOVE_OLD_VANILLATWEAKS: "TRUE"
    volumes:
      - {{ docker_container_data_folder }}/minecraft/data:/data