---

- name: Configure LXC container
  become: true
  tags:
    - lxc_config
  block:
    - name: Create ssh config
      ansible.builtin.include_tasks: ssh_config.yml
      tags:
        - lxc_config.ssh

    - name: Update network settings
      ansible.builtin.include_tasks: network.yml
      tags:
        - lxc_config.network

    - name: Update network settings
      ansible.builtin.include_tasks: create_motd.yml
      tags:
        - lxc_config.motd

    - name: Setup unattended upgrades
      ansible.builtin.include_tasks: unattended_upgrades.yml
      tags:
        - lxc_config.unattended_upgrades

- name: Generate local ssh files
  ansible.builtin.include_tasks: local_ssh.yml
  tags:
    - lxc_config.local_ssh
    - never
