---

- name: Install unattended-upgrades + curl
  ansible.builtin.apt:
    name:
      - unattended-upgrades
      - curl
      - jq
    state: present
    update_cache: true

- name: Setup upgrade service config
  ansible.builtin.template:
    src: 50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    owner: root
    group: root
    mode: '0644'

- name: Add unattended-upgrades discord hook config
  ansible.builtin.template:
    src: 99unattended-discord.j2
    dest: /etc/apt/apt.conf.d/99unattended-discord
    owner: root
    group: root
    mode: '0644'

- name: Create notification script
  ansible.builtin.template:
    src: unattended-notify.sh.j2
    dest: /usr/local/bin/unattended-notify.sh
    owner: root
    group: root
    mode: '0700'

- name: Create discord webhook config (secret)
  ansible.builtin.copy:
    dest: /root/unattended-discord.conf
    owner: root
    group: root
    mode: '0600'
    content: |
      WEBHOOK_URL={{ lookup("community.general.onepassword", "Discord Webhooks", section="Upgrades", field="webhook_url", vault="HomeLab") }}

- name: Enable apt timers
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    state: started
  loop:
    - apt-daily.timer
    - apt-daily-upgrade.timer
